#rasm1{
    width: 700px;
    height: 1200px;
    margin-top: 70px;
    margin-left: 200px;
    background-repeat: no-repeat;
    background-image: url(./img/photo_2023-05-10_00-09-53.jpg);
}
.img1{
    width: 150px;
    height: 250px;
    margin-top: 1250px;
    margin-left: 250px;
    padding-top: 10px;
    display: inline-flex;
}
.img2{
    display: inline-flex;
    width: 150px;
    height: 250px;
    margin-top: -290px;
    margin-left: 450px;
}